.center {
    margin: auto;
    width: 80%;
    
}

.img {
    float:padding-left: 80px
}

.container {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 300px 450px;
    width: 300px;
    
}

.contact {
    background-color: black;
    color: lightblue;
    height: auto;
    width: 100px;
    padding: 5px 100px 5px 100px;
    font-family: Gamestation Text;
    font-size: 16.2px;
}

.about {
    background-color: black;
    color: lightblue;
    height: auto;
    width: 100px;
    padding: 5px 100px 5px 100px;
    font-family: Gamestation Text;
    font-size: 18px;
}

.hobbies {
    background-color: black;
    color: lightblue;
    height: auto;
    width: 100px;
    padding: 5px 100px 5px 100px;
    font-family: Gamestation Text;
    font-size: 18px;
}

main {
    background-color: #EBFAFA;
    font-family: Lucida Sans;
    padding-bottom: 10%;
    padding-right: 10%;
}